/* 通用登陆弹层 */
.login_mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -webkit-box;
    z-index: 1000;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -webkit-box-pack: center;
}
.login_box{
    position: relative;
    width: 88%;
}
.close_icon{
    text-align: center;
}
.login_mask .login_close { 
    cursor: pointer;
    margin-top: 17px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(imgs/close.png) no-repeat;
    background-size: cover;
    text-align: center
}

.login_mask .login_content { background-color: #fff; width: 100%; overflow: auto;border-radius: 5px;}
.login_mask .login_tit { 
    text-align: center;
    color: #ff853b;
    font-size: 20px;
    line-height: 23px;
    padding-top: 20px;
    span{ 
        background: url("imgs/clock.png") 6% 0px no-repeat;
        background-size: 22px;
        width: 120px;
        display: inline-block;
    }
}
.login_mask .login_text { 
    color: #777;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}
.login_mask .login_form { padding: 10px 25px 5px 25px;}
.login_mask .login_form li {
    border: 1px solid #dfdfdf; padding: 5px 0 5px 7px; margin-bottom: 5px; font: inherit;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
　　color: #dfdfdf;
}
input:-moz-placeholder, textarea:-moz-placeholder {
　　color:#dfdfdf;
}
input::-moz-placeholder, textarea::-moz-placeholder {
　　color:#dfdfdf;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
　　color:#dfdfdf;
}
.login_mask .login_form li input[type='text'] {
    border: 0; height: 32px; line-height: 32px; width: 200px;
}
.login_mask .login_form li input[type='text'].login_minw { width: 120px;}

.login_mask .login_tel, .login_mask .login_yzm, .login_mask .login_sms {
    padding-left: 20px; background-size: 18px auto;
}
.login_mask .login_tel { background-position: left 10px;}
.login_mask .login_yzm { background-position: left -39px; position: relative;}
.login_mask .login_sms { background-position: left -88px; position: relative;}

.login_mask .login_yzmimg {
    height: 32px; width: 100px; border-radius: 16px; position: absolute;
    right: 0; top: 5px;
}
.login_mask .login_smsbtn {
    width: 100px; height: 32px; color: #ff853b; position: absolute; right: 0; top: 5px;
    border: 1px solid #ff853b; border-radius: 16px; background-color: #fff;
}
.login_mask .login_smsbtn:disabled {
    border: 1px solid #ccc; color: #ccc;
}

.login_mask .login_xieyi { color: #666; font-size: 10px; text-align: center; line-height: 18px; padding: 0 20px; margin-bottom: 10px;}
.login_mask .login_xieyi a { color: #ff853b; margin-left: 5px;}
.login_mask .login_wrong_tip { text-align: center; margin-bottom: 10px;}
.login_mask .login_wrong_tip span {
    background: url("imgs/login_wrong_bg.png") 0 2px no-repeat;
    background-size: 13px auto; color: #e12102; padding-left: 18px;
}

.login_mask .login_submit { padding: 0 25px; margin-bottom: 25px;text-align: center;}
.login_mask .login_submit button {
    width: 50%; line-height: 43px; background-color: #ff853b; color: #fff;
    border-radius: 22px; font-size: 16px;
}
.login_mask .login_submit button:disabled {
    background-color: #ddd;
}