@root-size:28rem;
.logo_link{
	position: fixed;
	top: 70%;
	right: 0;
	display: block;
	z-index: 1001;
	width: 92/@root-size;
    height: 70/@root-size;
    text-align: center;
	img{
		display: inline-block;
		width: 60/@root-size;
		height: 60/@root-size;
		border-radius: 100/@root-size;
		background: #FFFFFF;
		box-shadow: 0 8/@root-size 16/@root-size 0 rgba(0,0,0,0.40);
	}
}