.down_bg{
    text-align: center;
    img{
        margin-top: 2.142857rem;
        width: 4.446429rem;
        height: 4.446429rem;
    }
    .text_first{
        margin-top:0.892857rem;
        font-size: 0.571429rem;
        color: #836922;
        p:first-child{
            font-size: 0.75rem;
            margin-bottom: 0.357143rem;
        }
    }
    .text_last{
        margin-top: 1.785714rem;
        color: #ff6000;
        font-size: 0.571429rem;
    }
    .download_wrap{
        margin-top: 1.071429rem;
        padding:0 1.285714rem;/*36px*/
        .download_btn{
            width: 4.821429rem;/*135px*/
            height: 1.785714rem;
            line-height: 1.785714rem;
            border-radius: 6px;
            font-size: 0.642857rem;
        }
        .ios_download{
            float: left;
            background: #ff8447;
            color:#fff;
        }
        .android_download{
            float:right;
            border:1px solid #ff8447;
            color:#ff8447;
        }
    }
}