<section class="down_bg">
    <img src="/static/event/lsjy/images/download.png">
    <div class="text_first">
        <p>平安金管家</p>
        <p>您的金融生活服务平台</p>
    </div>
    <p class="text_last">下载平安金管家赢取万元购房金和现金红包</p>
    <!-- <a href="javascript:0;" data-autofax="true" data-eventstr="LSJY_CLICK_LJXZ">立即下载</a> -->
    <div class="download_wrap">
        <a href="javascript:;" data-url="<?php echo $sIosDownloadUrl ;?>" class="ios_jump"><div class="download_btn ios_download">iPhone版</div></a>
        <a href="javascript:;" data-url="<?php echo $sAndroidDownloadUrl ;?>" class="android_jump"><div class="download_btn android_download">Android版</div></a>
    </div>
</section>