
/* build Date:2016-02-18 15:10:11 PM author:huangjia 加小区1.1版本、common版本号1.0.3 */

@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=160218'); /* IE9*/
    src: url('iconfont.eot#iefix?t=160218') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=160218') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=160218') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont?t=160218') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before { content: "\e603"; }
.icon-chexiao:before { content: "\e604"; }
.icon-shoucangjia:before { content: "\e613"; }
.icon-xiangxiajiantou:before { content: "\e605"; }
.icon-fankui:before { content: "\e616"; }
.icon-bbgPoint:before { content: "\e617"; }
.icon-yiguanzhu:before { content: "\e618"; }
.icon-weiguanzhu:before { content: "\e619"; }
.icon-zan:before { content: "\e61a"; }
.icon-caidan:before { content: "\e60c"; }
.icon-close:before { content: "\e609"; }
.icon-back:before { content: "\e606"; }
.icon-right:before { content: "\e607"; }
.icon-up_sm_ic:before { content: "\e60a"; }
.icon-down_sm_ic:before { content: "\e60d"; }
.icon-top:before { content: "\e608"; }
.icon-denglu:before { content: "\e60b"; }
.icon-shfrzh:before { content: "\e60e"; }
.icon-iconfonttelephone_f:before { content: "\e60f"; }
.icon-fangzi:before { content: "\e611"; }
.icon-fanhui:before { content: "\e612"; }
.icon-sevenbabicon31:before { content: "\e600"; }
.icon-sevenbabicon34:before { content: "\e601"; }
.icon-xiaoqu:before { content: "\e602"; }