
*::-webkit-input-placeholder {
    color: #cccccc;
} 
*:-moz-placeholder {
    color: #cccccc;
} 
*:-ms-input-placeholder {/* IE10+ */
    color: #cccccc;
}

.table{
    width:100%;
}
.table td{
    padding-bottom: 14px;
}
.table td.tips{
	height: 24px;
	padding-bottom: 0;
}
.text_warn{
    /*border-top: 1px solid #e5867b;*/
    color: #fefefe;
    color: #ec5435;
    height: 20px;
    line-height: 20px;
}
.text_warn{
    /*visibility: hidden;*/
}
.text_warn i{
	float: left;
	margin-top: 2px;
}
.text_warn i img{
	width: 80%;
}

.table td {
    position: relative;
    z-index: 1;
    vertical-align: top;
}
.table .input_wrap{
    position: relative;    
    height: 34px;
    line-height: 34px;
    border-radius: 4px;
    padding-left: 5px;
    border: 1px solid #ccc;
}
.table .captcha_txt_box {
    width: 58%;
}
.table .input_box {
    width: 80%;
    height: 24px;
    border: 0;
    /*color: #fefefe;*/
    line-height: 20px;
    margin:5px;
    vertical-align: middle;
    float: left;
    /*background: #b73d30;*/
}
.table .captcha_txt_box .input_box{
    width: 91%;
}
.table .btn_send_verify_code{ /* 验证码 */
    display: inline-block;
    width: 37.5%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background-color: #ffaf31;
    font-size: 14px;
    border-radius: 4px;
    /*border-bottom: 2px solid #762c24;*/
}
@media (min-width: 600px) {
  .table .btn_send_verify_code {
    font-size: 1.2em;
  }
}
/*thanks diff*/
.thanks_tips{
    margin: 4% 0 0 0;
    text-align: center;
}
.thanks_tips span{
    background: #cccccc;
    color: #fff;
    border-radius: 8px;
    padding: 1% 3%;
}

