<!--微信分享指引-->
<div style="display: none"><img src='/static/event/zfInvite/common/images/wxfx.jpg'></div>
<div id="fx_bgMask" style="display: none">
    <div class="guide">
    </div>
</div>
<!--微信分享结束-->
<?php
    if(isset($sCopyText)&& $sCopyText ){
    $copyText = $sCopyText;
    }else{
    $copyText='';
    }
     ?>
<!--复制分享-->
<div style="display: none">
    <div id="fxdialog" class="J_dialog">
        <div class="dialog__content">
            <div class="fx-dialog">
                <h1>
                    <img src="/static/event/zfInvite/common/images/fenxiang-text.png">
                </h1>
                <p class="text">复制邀请链接，邀请更多好友来共享大奖</p>
                <p class="copy-div" id="barr2"><?= $copyText ?></p>
                <p class="copy-error" data-flag="0" style="color: #777; font-size: 12px;margin-top: 6px; padding: 0 10px; display: none">您当前的浏览器不支持一键复制，请手动复制链接进行分享</p>
                <p class="btn-row">
                    <button class="btn" data-clipboard-btn data-clipboard-action="copy" data-clipboard-text="<?= $copyText ?>" data-clipboard-target="#barr2" data-autofax="true" data-eventstr="BFDL_CLICK_FZLJ">复制链接</button>
                </p>
            </div>
            <a class="close-dialog" data-dialog-close>
                <img src="/static/event/zfInvite/common/images/close-btn.png">
            </a>
        </div>
    </div>
</div>
<!--复制分享结束-->
<input type="hidden" id="userFrom" value="<?= $wxshare['config']['iFrom'] ?>">
</article>
<button data-clipboard-action="copy" data-clipboard-text=" " id="aass" style="display: none"></button>
<script>
    var bottomImgUrl = __uri("/static/event/dt/index/imgs/bottom.png"),
            obj = {
                debug: <?php echo $wxshare['config']['debug'];?>,
                appId: "<?php echo $wxshare['config']['appId'];?>",
                timestamp: "<?php echo $wxshare['config']['timestamp'];?>",
                nonceStr: "<?php echo $wxshare['config']['nonceStr'];?>",
                signature: "<?php echo $wxshare['config']['signature'];?>",
                jsApiList: ["ready", "onMenuShareTimeline", "onMenuShareAppMessage"],
                title: "<?php echo $wxshare['info']['title'];?>",
                desc: "<?php echo $wxshare['info']['desc'];?>",
                link: "<?php echo $wxshare['info']['link'];?>",
                imgUrl: __uri("/static/event/zfInvite/common/images/wxfx.jpg")
            };
    var UA = navigator.appVersion;
</script>
</div>
<?php if (isset($aHtml['bAllowSwitchVersion']) && $aHtml['bAllowSwitchVersion']) {?>
<?php $this->doComponent('/web/globalersion', $aData);?>
<?php }?>
<!-- 活动ID投放ID传参 S -->
<script type="text/javascript"  data-position-fixed>
    (function () {
        function getDomain() {
            var host = window.location.host;
            var domainList = [
            'dev.anhouse.com.cn',
            'st.anhouse.com.cn',
            'st2.anhouse.com.cn',
            'an2.anhouse.cn'
            ];
            var tjDomain = domainList[domainList.length];

            for (var i = 0; i < domainList.length; i++) {
                if (host.indexOf(domainList[i]) >= 0) {
                    tjDomain = domainList[i];
                }
            }
            return tjDomain;
        }

        var comConfig = window.comConfig || {};
        var locationS = location.search.replace(/\?|\&/ig,' ') + ' ';
        var hfcmpn = locationS.match(/ hfcmpn=\w+ /ig);
        var hfsrc = locationS.match(/ hfsrc=\w+ /ig);
        var baseDomain = comConfig.baseDomain;
        if (hfcmpn || hfsrc) {
            if (!baseDomain) {
                baseDomain = window.location.host.indexOf('anhouse.com.cn') > 0 ? getDomain() : 'pinganfang.com';
            }
            var cookieStr = ' ' + document.cookie.replace(/; /ig, ' ; ') + ' ';
            var hostA = location.hostname.split('.');
            var d = new Date();
            d.setTime(d.getTime() + (30 * 60 * 1000));

            if (hfcmpn) {
                document.cookie = hfcmpn[0].replace(/\s/ig, '') + '; expires=' + d.toUTCString() + '; path=/; domain=' + baseDomain + ';';
            }
            if (hfsrc) {
                document.cookie = hfsrc[0].replace(/\s/ig, '') + '; expires=' + d.toUTCString() + '; path=/; domain=' + baseDomain + ';';
            }
        }
    })()
</script>
<!-- 活动ID投放ID传参 E -->
<!-- 好房自己统计3.3 -->
<script type="text/javascript" data-position-fixed>
    /* build Date:2016-04-25 5:44:57 PM author:huangjia */
    "object" != typeof JSON && (JSON = {}), function () {
        "use strict";
        function f(a) {
            return 10 > a ? "0" + a : a
        }

        function this_value() {
            return this.valueOf()
        }

        function quote(a) {
            return rx_escapable.lastIndex = 0, rx_escapable.test(a) ? '"' + a.replace(rx_escapable, function (a) {
                var b = meta[a];
                return "string" == typeof b ? b : "\\u" + ("0000" + a.charCodeAt(0).toString(16)).slice(-4)
            }) + '"' : '"' + a + '"'
        }

        function str(a, b) {
            var c, d, e, f, g, h = gap, i = b[a];
            switch (i && "object" == typeof i && "function" == typeof i.toJSON && (i = i.toJSON(a)), "function" == typeof rep && (i = rep.call(b, a, i)), typeof i) {
                case"string":
                    return quote(i);
                case"number":
                    return isFinite(i) ? String(i) : "null";
                case"boolean":
                case"null":
                    return String(i);
                case"object":
                    if (!i)return "null";
                    if (gap += indent, g = [], "[object Array]" === Object.prototype.toString.apply(i)) {
                        for (f = i.length, c = 0; f > c; c += 1)g[c] = str(c, i) || "null";
                        return e = 0 === g.length ? "[]" : gap ? "[\n" + gap + g.join(",\n" + gap) + "\n" + h + "]" : "[" + g.join(",") + "]", gap = h, e
                    }
                    if (rep && "object" == typeof rep)for (f = rep.length, c = 0; f > c; c += 1)"string" == typeof rep[c] && (d = rep[c], e = str(d, i), e && g.push(quote(d) + (gap ? ": " : ":") + e)); else for (d in i)Object.prototype.hasOwnProperty.call(i, d) && (e = str(d, i), e && g.push(quote(d) + (gap ? ": " : ":") + e));
                    return e = 0 === g.length ? "{}" : gap ? "{\n" + gap + g.join(",\n" + gap) + "\n" + h + "}" : "{" + g.join(",") + "}", gap = h, e
            }
        }

        var rx_one = /^[\],:{}\s]*$/, rx_two = /\\(?:["\\\/bfnrt]|u[0-9a-fA-F]{4})/g, rx_three = /"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, rx_four = /(?:^|:|,)(?:\s*\[)+/g, rx_escapable = /[\\\"\u0000-\u001f\u007f-\u009f\u00ad\u0600-\u0604\u070f\u17b4\u17b5\u200c-\u200f\u2028-\u202f\u2060-\u206f\ufeff\ufff0-\uffff]/g, rx_dangerous = /[\u0000\u00ad\u0600-\u0604\u070f\u17b4\u17b5\u200c-\u200f\u2028-\u202f\u2060-\u206f\ufeff\ufff0-\uffff]/g;
        "function" != typeof Date.prototype.toJSON && (Date.prototype.toJSON = function () {
            return isFinite(this.valueOf()) ? this.getUTCFullYear() + "-" + f(this.getUTCMonth() + 1) + "-" + f(this.getUTCDate()) + "T" + f(this.getUTCHours()) + ":" + f(this.getUTCMinutes()) + ":" + f(this.getUTCSeconds()) + "Z" : null
        }, Boolean.prototype.toJSON = this_value, Number.prototype.toJSON = this_value, String.prototype.toJSON = this_value);
        var gap, indent, meta, rep;
        "function" != typeof JSON.stringify && (meta = {
            "\b": "\\b",
            " ": "\\t",
            "\n": "\\n",
            "\f": "\\f",
            "\r": "\\r",
            '"': '\\"',
            "\\": "\\\\"
        }, JSON.stringify = function (a, b, c) {
            var d;
            if (gap = "", indent = "", "number" == typeof c)for (d = 0; c > d; d += 1)indent += " "; else"string" == typeof c && (indent = c);
            if (rep = b, b && "function" != typeof b && ("object" != typeof b || "number" != typeof b.length))throw new Error("JSON.stringify");
            return str("", {"": a})
        }), "function" != typeof JSON.parse && (JSON.parse = function (text, reviver) {
            function walk(a, b) {
                var c, d, e = a[b];
                if (e && "object" == typeof e)for (c in e)Object.prototype.hasOwnProperty.call(e, c) && (d = walk(e, c), void 0 !== d ? e[c] = d : delete e[c]);
                return reviver.call(a, b, e)
            }

            var j;
            if (text = String(text), rx_dangerous.lastIndex = 0, rx_dangerous.test(text) && (text = text.replace(rx_dangerous, function (a) {
                        return "\\u" + ("0000" + a.charCodeAt(0).toString(16)).slice(-4)
                    })), rx_one.test(text.replace(rx_two, "@").replace(rx_three, "]").replace(rx_four, "")))return j = eval("(" + text + ")"), "function" == typeof reviver ? walk({"": j}, "") : j;
            throw new SyntaxError("JSON.parse")
        })
    }(), function (a) {
        function b() {
            return tb[L] = n(E, K), tb[P] = n(E, O), tb[T] = qb, tb[V] = D.cookie, tb[M] = pb, tb[N] = D.title || "", B(), tb
        }

        function c() {
            tb[U] = cb, tb[Q] = f(), Ab.send(tb)
        }

        function d(a, b, c) {
            var a = a || null, b = s(b) ? b : "", d = a && a.nodeType, e = n(a, "href");
            return 1 == d ? tb[W] = a.tagName.toLocaleLowerCase() : 9 == d && (tb[W] = "document"), tb[U] = b, tb[Z] = n(a, $), tb[_] = n(a, ab), tb[bb] = n(a, db), tb[X] = u(e) ? e : "", tb[Y] = n(a, "src"), r(c) && c.apply(this, [a, b]), tb
        }

        function e(a, b) {
            var a = a || null, c = a && "true" === n(a, fb) ? !0 : !1, b = s(b) ? b : "";
            if (!a)return tb[mb] = 0, tb[nb] = 0, void(tb[lb] = 0);
            switch (b) {
                case"mouseover":
                    return tb[mb] = f(), tb[nb] = 0, tb[lb] = 0, sb = a, tb;
                case"mouseout":
                    return tb[nb] = f(), a != sb || c || (tb[lb] = 0), tb;
                case"click":
                    return tb[lb] = f(), o(a, fb, "true"), tb[nb] = 0, tb
            }
        }

        function f() {
            return (new Date).getTime()
        }

        function g(b) {
            b && b.type && (rb ? b.stopPropagation() : a.event.cancelBubble = !0)
        }

        function h(a) {
            var b = A(n(a, eb)), c = "true" === b ? !0 : wb;
            return c
        }

        function i(a, b, c) {
            var c = q(c) && c >= 0 ? c : 30;
            ub[a] && (clearTimeout(ub[a]), ub[a] = null), ub[a] = setTimeout(b, c)
        }

        function j(a, b) {
            var c = b || "";
            if (a)try {
                c = decodeURI(a)
            } catch (d) {
            }
            return c
        }

        function k(a, b) {
            var c = b || "";
            if (a)try {
                c = encodeURI(a)
            } catch (d) {
            }
            return c
        }

        function l(a, b) {
            var c = b || "";
            if (a)try {
                c = encodeURIComponent(a)
            } catch (d) {
            }
            return c
        }

        function m(a, b) {
            var c = b || "";
            if (a)try {
                c = decodeURIComponent(a)
            } catch (d) {
            }
            return c
        }

        function n(a, b) {
            return a && a.getAttribute ? a.getAttribute(b) || "" : ""
        }

        function o(a, b, c) {
            if (a && a.setAttribute)try {
                a.setAttribute(b, c)
            } catch (d) {
            }
        }

        function p(a) {
            return "[object Object]" === Object.prototype.toString.call(a)
        }

        function q(a) {
            return "[object Number]" === Object.prototype.toString.call(a)
        }

        function r(a) {
            return "[object Function]" === Object.prototype.toString.call(a)
        }

        function s(a) {
            return "[object String]" === Object.prototype.toString.call(a)
        }

        function t(a) {
            return "[object Boolean]" === Object.prototype.toString.call(a)
        }

        function u(a) {
            return s(a) && /^((http|https)?:?\/\/)?[A-Za-z0-9]+\.[A-Za-z0-9]+[\/=\?%\-&_~`@[\]':+!]*([^<>""])*$/.test(a)
        }

        function v(a, b) {
            return -1 != a.indexOf(b)
        }

        function w(a, b) {
            if (!s(a))return a;
            var a = a || "", c = isNaN(a);
            if (r(b))a = b(a); else if (s(b)) {
                var d = xb[b];
                r(d) && (a = d(d(a)))
            } else a = m(m(a));
            return a && !c && c + "" != "NaN" && a.replace(/\s/g, "") && (a = Number(a)), a
        }

        function x(a, b) {
            var c, d, e = s(a) ? a.split("&") : [], f = e.length, g = 0, h = {};
            for (v(e[0], "?") && (e[0] = e[0].slice(e[0].indexOf("?") + 1)); f > g; g++)d = e[g].split("="), c = w(d[1], b), h[d[0]] = z(c, !0);
            return h
        }

        function y(a, b, c) {
            var d, e, b = u(b) ? -1 == b.indexOf("?") ? b + "?" : -1 != b.indexOf("=") && "&" != b.charAt(b.length - 1) ? b + "&" : -1 == b.indexOf("=") && "?" != b.charAt(b.length - 1) ? b + "=&" : b : "", f = s(c) && xb[c], g = r(f) ? f : l, a = p(a) ? a : {}, h = [];
            for (key in a)d = z(a[key]), e = g(d), h.push(key + "=" + e);
            return b += h.join("&")
        }

        function z(a, b) {
            var c = "";
            if (!a || r(a))return "";
            if (q(a))return a;
            if (b)try {
                c = JSON.parse(a)
            } catch (d) {
                c = A(a)
            } else c = s(a) ? A(a) : JSON.stringify(a);
            return c
        }

        function A(a, b) {
            if (!s(a))return a;
            var a = a || "";
            return a = b ? a.replace(/\s+/g, "") : a.replace(/^\s+|\s+$/g, "")
        }

        function B() {
            var b = a.innerWidth, c = a.innerHeight;
            return q(b) ? (tb[gb] = C("safari") ? b + 3 : b, tb[hb] = c, tb) : ("CSS1Compat" == D.compatMode ? (tb[gb] = F.clientWidth + 20, tb[hb] = F.clientHeight + 3) : (tb[gb] = G.clientWidth + 17, tb[hb] = G.clientHeight + 17), tb)
        }

        function C(a) {
            var b;
            return (b = H.match(/msie ([\d.]+)/)) ? I.ie = b[1] : (b = H.match(/firefox\/([\d.]+)/)) ? I.firefox = b[1] : (b = H.match(/chrome\/([\d.]+)/)) ? I.chrome = b[1] : (b = H.match(/opera.([\d.]+)/)) ? I.opera = b[1] : (b = H.match(/version\/([\d.]+).*safari/)) ? I.safari = b[1] : 0, I[a] ? !0 : !1
        }

        var D = a.document, E = document.getElementById("J_page_msg"), F = D && D.documentElement, G = D.getElementsByTagName("body")[0], H = navigator.userAgent.toLowerCase(), I = {};
        if (!G)return void setTimeout(arguments.callee, 40);
        var J = "//tongji.pinganfang.com/", K = "data-pageid", L = "page_id", M = "page_url", N = "page_title", O = "data-servertime", P = "page_server_time", Q = "domready_time", R = "onload_time", S = "unload_time", T = "refer_url", U = "event_type", V = "cookie_str", W = "el_type", X = "el_href", Y = "el_src", Z = "el_mdid", $ = "data-mdid", _ = "el_data", ab = "data-eldata", bb = "self_event_type", cb = "dom_ready", db = "data-eventstr", eb = "data-autofax", fb = "data-clicked", gb = "screen_width", hb = "screen_height", ib = !1, jb = !1, kb = !0, lb = "mouse_click_time", mb = "mouse_over_time", nb = "mouse_out_time", ob = location, pb = ("https:" == ob.protocol, ob.pathname, location.href), qb = D.referrer || "", rb = !(!D || !D.addEventListener), sb = (null == a.frameElement && D.documentElement, F && F.doScroll, null), tb = {}, ub = {}, vb = 800, wb = !1, xb = {
            encodeURI: k,
            decodeURI: j,
            encodeURIComponent: l,
            decodeURIComponent: m
        }, yb = rb ? function (a, b, c) {
            a.addEventListener(b, c, !1)
        } : function (a, b, c) {
            a.attachEvent("on" + b, c)
        }, zb = rb ? function (a, b, c) {
            a.removeEventListener(b, c, !1)
        } : function (a, b, c) {
            a.detachEvent("on" + b, c)
        }, Ab = {
            send: function (b, c, d) {
                var e, f, g, h = new Image, i = "_img_" + Math.random(), j = arguments.length;
                u(b) ? (f = b, e = p(c) && c ? c : tb) : p(b) && (f = J, e = b), 1 > j && (f = J, e = tb), g = y(e, f, d), a[i] = h, h.onload = h.onerror = function () {
                    a[i] = null
                }, h.src = g, h = null
            },
            objToUrl: y,
            urlParamsToObj: x,
            decodeParams: w,
            addEventListener: yb,
            removeEventListener: zb,
            setTractUrl: function (a) {
                return u(a) && (J = a), J
            },
            setIgnoreTime: function (a) {
                return q(a) && a >= 0 && (vb = a), vb
            },
            setArgusObj: function (a, b) {
                if (s(a) && a)tb[a] = b; else if (p(a))for (key in a)tb[key] = a[key];
                return tb
            },
            getArgusObj: function () {
                return tb
            },
            trim: A,
            setAutoFaxDefault: function (a) {
                t(a) && (wb = a)
            },
            initConfig: function (a) {
                p(a) && (this.setAutoFaxDefault(a.autoFaxDefault), this.setIgnoreTime(a.ignoreSecondsTime), this.setTractUrl(a.tractUrl), t(a.tracMouseOver) && (ib = a.tracMouseOver), t(a.tracMouseOut) && (jb = a.tracMouseOut), t(a.tracClick) && (kb = a.tracClick))
            },
            stringifyParse: z,
            isBrowser: C,
            UA: I
        };
        -1 != pb.indexOf("anhouse.com.cn") && (J = "//tongji.dev.anhouse.com.cn/"), b(), c(), yb(a, "load", function () {
            d(D, "load", function () {
                tb[R] = f(), Ab.send(tb)
            })
        }), yb(a, "beforeunload", function () {
            d(D, "beforeunload", function () {
                tb[S] = f(), Ab.send(tb)
            })
        }), yb(D, "click", function (a) {
            var b = a.target || a.srcElement, c = a.type, f = h(b);
            kb && f && (g(a), i("preventMultipleClicks", function () {
                e(b, c), d(b, c, function () {
                    Ab.send(tb)
                })
            }, vb))
        }), yb(D, "mouseover", function (a) {
            var b = a.target || a.srcElement, c = a.type, f = h(b);
            ib && f && (g(a), i("overTimeoutIndex", function () {
                e(b, c), d(b, c)
            }, vb))
        }), yb(D, "mouseout", function (a) {
            var b = a.target || a.srcElement, c = a.type, f = h(b);
            jb && f && (g(a), i("outTimeoutIndex", function () {
                e(b, c), d(b, c, function () {
                    Ab.send(tb)
                })
            }, vb))
        }), a.globalLog = Ab, a.goldlog_queue = [], a.JSON = JSON
    }(window);
</script>

<!-- 集团webtrends 数据统计  -->
<script type="text/javascript" data-position-fixed>
    function loadWTScript(a, b) {
        var c = document.createElement("script");
        c.type = "text/javascript",
                c.async = !0, c.id = 'wtjs',
                c.src = a,
                dcsReady(c, b),
                document.getElementsByTagName("head")[0].appendChild(c)
    }
    function dcsReady(a, b) {
        a.readyState ? a.onreadystatechange = function () {
            ("loaded" == a.readyState || "complete" == a.readyState) && (a.onreadystatechange = null, b())
        } : a.onload = function () {
            b()
        }
    }
    if (document.getElementById("wtjs") == null) {
        loadWTScript(window.location.protocol.indexOf('https:') == 0 ? 'https://pa-ssl.pingan.com/app_js/sdc/prd/sdc9.js' : 'http://www.pingan.com/app_js/sdc/prd/sdc9.js', function () {
            if (typeof(_tag) != "undefined") {
                _tag.dcsid = "dcsxqgp7nakqoagskruioagxc_1k3h";
                _tag.DCSext.platform = "pinganfang";
                _tag.dcsCollect();
            }
        });
    }
</script>

<!-- google 统计  analytics 埋点统计 -->
<script type="text/javascript" data-position-fixed>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49980877-1', 'pinganfang.com');
    ga('send', 'pageview');
    require.async(['common:zepto'], function ($) {
        $(function () {
            $(document).on("tap", "[data-ga-event]", function () {
                var $self, events;
                $self = $(this);

                events = $self.data("ga-event").split("/");

                if (events.length !== 3) {
                    return true
                }

                events = $.map(events, function (e, i) {

                    switch (e) {
                        case "$text":
                            return $self.text();
                        case "$href":
                            return $self.attr("href");
                        default:
                            return e
                    }
                });

                return ga('send', 'event', events[0], events[1], events[2]);

            });
        });
    });
</script>

</body>
</html>
