<!Doctype html>
<head>
<title><?= $sTitle ?></title>
<meta name="keywords" content="<?php echo isset($headerData['sKeyWords']) ? $headerData['sKeyWords'] : '';?>">
<meta name="description" content="<?php echo isset($headerData['sDesc']) ? $headerData['sDesc'] : '';?>">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" id="viewport" name="viewport">
<link rel="stylesheet" href="/static/common/base.css" type="text/css" />
<link rel="stylesheet" href="/static/common/iconfont/iconfont.css" type="text/css" />
<link rel="Shortcut Icon" href="/static/common/favicon.png" />
<script type="text/javascript">
window.config=[];
window.config['aURL']=[];
window.config['aURL']['sDFSUpd']='<?php echo $aURL["sDFSUpd"]; ?>';
window.config['aURL']['sHome']='<?php echo $aURL["sTouchUrl"]; ?>';
window.config['aURL']['sStaticDomain']='<?php echo $aURL["sStaticDomain"]; ?>';
window.config['aURL']['sDFSViewDomain']='<?php echo $aURL["sDFSViewDomain"]; ?>';
window.config['aURL']['sMemberDomain']='<?php echo strtr($aURL["sMemberDomain"], ['https://' => 'http://']); ?>';
window.config['aURL']['sDFSRootDomain']='<?php echo $aURL["sDFSRootDomain"]; ?>';
window.config['aURL']['sStaticRoot']='<?php echo $aURL["sStaticRoot"]; ?>';
window.config['aURL']['baseDomain']='<?php echo !empty($pub["baseDomain"]) ? $pub["baseDomain"] : ""; ?>';
</script>
</head>
<body id="<?php echo get_class($this); ?>">
<input type="hidden"
data-pageid-nm="<?php echo $this->plugin('hfmd')->getPageId(false);?>"
data-pageid="<?php echo $this->plugin('hfmd')->getPageId();?>"
data-servertime="<?php echo $this->plugin('hfmd')->getServerTime();?>"
id="<?php echo $this->plugin('hfmd')->getBodyId();?>"/>

<!-- 活动ID投放ID传参 S -->
<script type="text/javascript"  data-position-fixed>
    (function () {
        function getDomain() {
            var host = window.location.host;
            var domainList = [
            'dev.anhouse.com.cn',
            'st.anhouse.com.cn',
            'st2.anhouse.com.cn',
            'an2.anhouse.cn'
            ];
            var tjDomain = domainList[domainList.length];

            for (var i = 0; i < domainList.length; i++) {
                if (host.indexOf(domainList[i]) >= 0) {
                    tjDomain = domainList[i];
                }
            }
            return tjDomain;
        }

        var comConfig = window.comConfig || {};
        var locationS = location.search.replace(/\?|\&/ig,' ') + ' ';
        var hfcmpn = locationS.match(/ hfcmpn=\w+ /ig);
        var hfsrc = locationS.match(/ hfsrc=\w+ /ig);
        var baseDomain = comConfig.baseDomain;
        if (hfcmpn || hfsrc) {
            if (!baseDomain) {
                baseDomain = window.location.host.indexOf('anhouse.com.cn') > 0 ? getDomain() : 'pinganfang.com';
            }
            var cookieStr = ' ' + document.cookie.replace(/; /ig, ' ; ') + ' ';
            var hostA = location.hostname.split('.');
            var d = new Date();
            d.setTime(d.getTime() + (30 * 60 * 1000));

            if (hfcmpn) {
                document.cookie = hfcmpn[0].replace(/\s/ig, '') + '; expires=' + d.toUTCString() + '; path=/; domain=' + baseDomain + ';';
            }
            if (hfsrc) {
                document.cookie = hfsrc[0].replace(/\s/ig, '') + '; expires=' + d.toUTCString() + '; path=/; domain=' + baseDomain + ';';
            }
        }
    })()
</script>
<!-- 活动ID投放ID传参 E -->

<!-- 好房自己统计3.3 -->
<script src="/static/common/tj_0714.js?__inline" feather-position-fixed></script>

<!-- 集团webtrends 数据统计  -->
<script type="text/javascript" data-position-fixed>
    function loadWTScript(a, b) {
        var c = document.createElement("script");
        c.type = "text/javascript",
            c.async = !0, c.id='wtjs',
            c.src = a,
            dcsReady(c, b),
            document.getElementsByTagName("head")[0].appendChild(c)
    }
    function dcsReady(a, b) {
        a.readyState ? a.onreadystatechange = function() { ("loaded" == a.readyState || "complete" == a.readyState) && (a.onreadystatechange = null, b())
        }: a.onload = function() {
            b()
        }
    }
    if(document.getElementById("wtjs")==null){
        loadWTScript(window.location.protocol.indexOf('https:')==0?'https://pa-ssl.pingan.com/app_js/sdc/prd/sdc9.js':'http://www.pingan.com/app_js/sdc/prd/sdc9.js', function(){
            if (typeof(_tag) != "undefined"){
                _tag.dcsid="dcsxqgp7nakqoagskruioagxc_1k3h";
                _tag.DCSext.platform="pinganfang";
                _tag.dcsCollect();
            }
        });
    }
</script>

<!-- 百度统计 -->
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?aeea9ec5dfbb4a51631862676f9f7362";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>

<div id="container">
