.popup_rule{
	padding-bottom: 3%;
	height: 405px;
	overflow-y: auto;
	margin-bottom: 3%; 
}
/*thansk diff*/
.ui-dialog-header{
    font-size: 14px;
}
.ui-dialog-close{
    background: url(images/close.png) !important ;
}
