@fontsize:28rem;
a{
    display: inline-block;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.t_fill_black {
    width: 100%;
    height: 20rem/28;
    background: #f64040;
}
.top_banner{
    width: 100%;
    height: 267rem/28;
    padding-top: 248rem/28;
    background: url(./imgs/index_bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    .logo{
        position: absolute;
        top: 0rem/28;
        left: 157rem/28;
        width: 60rem/28;
        height: 21rem/28;
        background: url(./imgs/logo.png) no-repeat;
        background-size: cover;
    }
    .rule{
        width: 80rem/28;
        height: 30rem/28;
        line-height: 30rem/28;
        color: #fff;
        background-color: rgba(0,0,0,0.2);
        border-radius: 20rem/28;
        font-size: 14rem/28;
        position: absolute;
        top: 0rem/28;
        left: 10rem/28;
        text-align: center;
    }
    .c_city{
        width: 50rem/28;
        padding-left: 10rem/28;
        padding-right: 20rem/28;
        height: 30rem/28;
        line-height: 30rem/28;
        color: #fff;
        background-color: rgba(0,0,0,0.2);
        border-radius: 20rem/28;
        font-size: 14rem/28;
        position: absolute;
        top: 0rem/28;
        right: 10rem/28;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            right: 12rem/28;
            top: 8rem/28;
            width: 7rem/28;
            height: 7rem/28;
            border-top: solid 1px currentColor;
            border-right: solid 1px currentColor;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }
    }
    .get_cash{
        width: 223rem/28;
        height: 50rem/28;
        background: url(./imgs/subtitle_n.png) no-repeat;
        background-size: cover;
        margin: 0 auto;
    }
    .get_area{
        text-align: center;
        width: 359rem/28;
        margin: 0 auto;
        margin-top: 8rem/28;
        li{
            float: left;
            width: 117rem/28;
            height: 160rem/28;
            background: url(./imgs/gfj.png) no-repeat;
            background-size: cover;
            color: #666;
            margin-right: 4rem/28;
            font-size: 11rem/28;
            &:last-child{
                margin-right: 0;
            }
            h3{
                line-height: 32rem/28;
                font-size: 12rem/28;
            }
            h4{
               line-height: 14rem/28;
               white-space:nowrap;
               margin-top: 10rem/28;
               font-size: 12rem/28;
            }
            p{
                color: #fff;
                margin-top: 8rem/28;
                height: 32rem/28;
                b{
                    font-size: 21rem/28;
                }
            }
            .get_btn{
                width: 79rem/28;
                height: 44rem/28;
                line-height: 34rem/28;
                background: url(./imgs/light_btn.png) no-repeat;
                background-size: cover;
                color: #fff;
                margin-top: 14rem/28;
                &.grey_btn{
                   background: url(./imgs/grey_btn.png) no-repeat;
                   background-size: cover; 
                }
            }
        }
    }
    .hot_title{
        color: #c9212f;
        width: 125rem/28;
        padding-left: 65rem/28;
        height: 43rem/28;
        line-height: 43rem/28;
        background:#fff url(./imgs/hot_logo.png) 25rem/28 6.5rem/28 no-repeat;
        background-size: 30rem/28 30rem/28;
        border-radius: 8px;
        font-size: 17rem/28;
        position: absolute;
        left: 50%;
        margin-left: -95rem/28;
        bottom: -16rem/28;
    }
}
.hot_loupan{
    margin-top: 21rem/28;
    padding-left: 16rem/28;
    a {
        display: block;
    }
    .loupan_item{
        border-bottom: 1px solid #dfdfdf;
        padding-top: 16rem/28;
        img{
            float: left;
            width: 125rem/28;
        }
        .loupan_detail{
            float: left;
            width: 215rem/28;
            padding-left: 16rem/28;
            color: #424242;
            p {width: 100%;}
            .loupan_name{
                display: inline-block;
                font-size: 17rem/28;
                font-weight: bold;
                margin-right: 10rem/28;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 160rem/28;
                width: auto;
                vertical-align: middle;
            }
            .sell_empty{
                font-size: 10rem/28;
                color: #fff;
                padding: 0 5rem/28;
                line-height: 18rem/28;
                text-align: center;
                background-color: #0077ff;
                border-radius: 2rem/28;
                display: inline-block;
                vertical-align: middle;
                &.bg_1 {
                    background-color: #333;
                }
                &.bg_6 {
                    background-color: #a3a3a3;
                }
            }
            .loupan_area{
                line-height: 36rem/28;
                font-size: 14rem/28;
            }
            .loupan_tag_bo {
                width: 215rem/28;
            }
            .loupan_tag{
                font-size: 12rem/28;
                padding: 0 3rem/28;
                height: 15rem/28;
                line-height: 16rem/28;
                margin-right: 4rem/28;
                border:1px solid #424242;
                white-space: nowrap;
                display: inline-block;
                margin-top: 3rem/28;
            }
            .loupan_price{
                line-height: 44rem/28;
                color: #ff5c00;
                font-size: 15rem/28;
                span{
                    display: inline-block;
                    font-size: 13rem/28;
                    color: #b2b2b2;
                    margin-left: 3rem/28;
                }
            }

        }
    }  
}
.loupan_event{
    padding: 24rem/28 16rem/28 8rem/28;
    li{
        width: 343rem/28;
        background: url(../imgs/banner1.jpg) no-repeat;
        background-size: cover;
        color: #fff;
        text-align: center;
        margin-bottom: 16rem/28;
        &:nth-child(2){
            background: url(../imgs/banner2.jpg) no-repeat;
            background-size: cover; 
        }
        &:nth-child(3){
            background: url(../imgs/banner3.jpg) no-repeat;
            background-size: cover; 
        }
        a {
            display: block;
            height: 93rem/28;
            padding-top: 17rem/28;
        }
        h3{
            font-size: 24rem/28;
            line-height: 47rem/28;
        }
        p{
            font-size: 16rem/28;
        }
    }
}
body{
    padding-bottom: 64rem/28;
    position: relative;
}
.fixed_btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64rem/28;
    color: #fff;
    background: #000;
    opacity: 0.8;
    p{
        padding-left: 14rem/28;
        padding-top: 11rem/28;
        line-height: 21rem/28;
        font-size: 14rem/28;
    }
    a{
        position: absolute;
        top: 15rem/28;
        right: 15rem/28;
        padding: 0 16rem/28;
        height: 33rem/28;
        line-height: 33rem/28;
        border:1px solid #fff;
        border-radius: 40px;
    }
}
.new_user_dialog{ 
    width: 315rem/28;   
    height: 160rem/28;
    padding-top: 12rem/28;
    background: url(./imgs/new_user.png) no-repeat;
    background-size: cover;
    text-align: center;
    h3{
        line-height: 60rem/28;
        color: #f9c881;
        font-size: 20rem/28;
        font-weight: bold;
    }
    .get_btn{
        width: 79rem/28;
        height: 44rem/28;
        line-height: 34rem/28;
        background: url(./imgs/light_btn.png) no-repeat;
        background-size: cover;
        color: #fff;
        margin-top: 14rem/28;
        position: absolute;
        right: 31rem/28;
        bottom: 27rem/28;
        font-size: .4643rem/* 13px */;
    }
    .close_btn{
        position: absolute;
        left: 50%;
        margin-left: -16rem/28;
        bottom: -57rem/28;
        width: 32rem/28;
        height: 32rem/28;
        background: url(./imgs/close.png) no-repeat;
        background-size: cover;
    }
}
.notice_dialog{
    width: 315rem/28;   
    padding-top: 20rem/28;
    padding-bottom: 44rem/28;
    color: #333;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    h3{
        font-size:23rem/28;
        font-weight: bold;
        line-height: 36rem/28;
    }
    p{
        font-size:16rem/28;
    }
    .d-get-con {
        width: 130rem/28;
        height: 65rem/28;
        padding-top: 6rem/28;
        margin: 0 auto;
        background: url("imgs/money_bg.png");
        background-size: cover;
        color: #fff;
        margin-top: 20rem/28;
        .txt1 {
            span {
                font-size: 30rem/28;
                font-weight: bold;
            }
        }
        .txt2 {
            margin-top: -8rem/28;
        }
    }
    a{
        width: 250rem/28;
        height: 44rem/28;
        line-height: 44rem/28;
        color: #fff;
        font-size: 16rem/28;
        background-color: #f64040;
        border-radius: 40rem/28;
        margin-top: 20rem/28;
    }
}
.notice-dialog{
    display: none;
    width: 300/@fontsize;
    text-align: center;
    .dialog-reserve-content {
        background: #fff;
        border-radius: 5/@fontsize;
        padding-bottom: 20/@fontsize;
        .d-res-title {
            text-align: center;
            font-size: 20/@fontsize;
            font-weight: bold;
            line-height: 30/@fontsize;
            padding: 10/@fontsize 0 0;
            color: #f64040;
        }
        .form_ul {
            padding: 0 18/@fontsize;
            text-align: left;
            font-size: 15/@fontsize;
            li {
                display: inline-block;
                width: 100%;
                height: 28/@fontsize;
                padding: 10/@fontsize 0;
                border:1px solid #dfdfdf;
                margin-top: 15/@fontsize;
                input {
                    width: 100%;
                    height: 28/@fontsize;
                    line-height: 28/@fontsize;
                    border:0;
                    text-indent: 10/@fontsize;
                    vertical-align: top;
                    &.input-dxyzm {
                        width: 55%;
                    }
                    &.sendyzm_btn {
                        width: 40%;
                        color: #a3a3a3;
                        background-color: #fff;
                        border: 1px solid #a3a3a3;
                        border-radius: 20/@fontsize;
                        font-size: 12/@fontsize;
                        text-indent: 0;
                    }
                }
                .sendyzm_btn {
                    display: inline-block;
                    width: 40%;
                    text-align: center;
                    height: 28/@fontsize;
                    line-height: 28/@fontsize;
                    color: #f77171;
                    background-color: #fff;
                    border: 1px solid #f77171;
                    border-radius: 20/@fontsize;
                    font-size: 12/@fontsize;
                    text-indent: 0;
                    &.disable {
                        color: #a3a3a3;
                        border: 1px solid #a3a3a3;
                    }
                }
            }
        }
        .d-res-detail {
            padding-top: 40/@fontsize;
            line-height: 25/@fontsize;
            .res-icon {
                display: inline-block;
                width: 62/@fontsize;
                height: 62/@fontsize;
                background: url("imgs/suc.png");
                background-size: cover;
                &.fail {
                    background-image: url("imgs/fail.png");
                }
            }
            .txt1 {
                color: #333;
                font-size: 22/@fontsize;
                padding-top: 15/@fontsize;
            }
            .txt2 {
                padding-top: 5/@fontsize;
            }
        }
    }
    .dialog-btn-box {
        padding: 0 18/@fontsize;
        margin-top: 20/@fontsize;
        .ui2-dialog-buttons {
            display: inline-block;
            width: 42%;
            height: 45/@fontsize;
            line-height: 45/@fontsize;
            border:1px solid #f64040;
            border-radius: 45/@fontsize;
            color: #fff;
            font-size: 16/@fontsize;
            background: #f64040;
            &.J-close-btn {
                border:1px solid #f64040;
                color: #f64040;
                background: #fff;
            }
            &:nth-child(2n){
                margin-left:5%;
            }

        }
    }
}
/*重写tips样式*/
.ui2-tips-error{background: none!important;width: 0;padding-left: 10px!important;}
.ui2-tips-error,.ui2-tips-success,.ui2-tips-loading,.ui2-tips-warn{
    font-weight: normal!important;
}
.ui2-tips{
    opacity: 0.9!important;
    background: rgba(0,0,0,0.8) !important;
    font-size: 15/@fontsize !important;
    line-height: 17/@fontsize !important;
    padding: 4/@fontsize 15/@fontsize !important;
    border-radius: 25/@fontsize!important;
    box-shadow:none !important;
}
/*loading样式*/
.page_content{
    padding-top:70/@fontsize;
    text-align: center;
    .logo{
        width:88/@fontsize;
        height:31/@fontsize;
        margin:0 auto;
        background: url('imgs/hf-logo.png') no-repeat;
        background-size: 100% 100%;
    }
    .loading_pic{
        width: 70/@fontsize;
        height: 70/@fontsize;
        background: url('imgs/icon.png') no-repeat 0 -137/@fontsize;
        background-size: 128/@fontsize;
        animation:loading 800ms ease-in-out 0s infinite;
        -webkit-animation:loading 800ms ease-in-out 0s infinite;
        margin: 20/@fontsize auto;
    }
    .loading_b {
        display: block;
        width: 35/@fontsize;
        height: 10/@fontsize;
        background: url('imgs/icon.png') no-repeat -1/@fontsize -225/@fontsize;
        background-size: 126/@fontsize;
        margin: 0 auto;
    }
    .loading_text{
        color:#666666;
        font-size: 16/@fontsize;
    }
    .loading_tips{
        color:#ff853b;
        padding-top:150/@fontsize;
    }
}
@keyframes loading{
    50% {-webkit-transform:translate(0, 10/@fontsize) rotate(0)}
    100% {-webkit-transform:translate(0, 0) rotate(0)}
}
@-webkit-keyframes loading{
    50% {-webkit-transform:translate(0, 10/@fontsize) rotate(0)}
    100% {-webkit-transform:translate(0, 0) rotate(0)}
}
/*城市列表*/
.citylist {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s;
    background-color: #fff;
}
.city header {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0;
    height: 1.6071rem;
    line-height: 1.6071rem;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s;
    text-align: center;
    color: #000;
    font-size: 0.6429rem;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fff;
}
.city .top-l {
    position: absolute;
    top: 37%;
    left: 4%;
    line-height: 0.2143rem;
}
.city header a {
    font-size: 0.5357rem;
    color: #ccc;
}
.city .warning {
    display: none;
    padding-left: 10%;
    padding-top: 10%;
    width: 100%;
    height: 1.6071rem;
    line-height: 1.6071rem;
    text-align: left;
    color: #a3a3a3;
    background-color: #fff;
    font-size: 0.5rem;
}
.city .warning .top-l {
    top: 40%;
}
.city .warning span {
    font-size: 0.5rem;
}
.citylist .title {
    padding-left: 4%;
    height: 1.6071rem;
    line-height: 1.6071rem;
    border-top: 1px solid #dfdfdf;
    font-size: 0.5rem;
    background-color: #f4f4f4;
}
.citylist .pad-top {
    padding-top: 1.6071rem;
}
.citylist .currcity {
    padding: 4% 0 4% 4%;
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
}
.citylist .currcity .currsite {
    width: 0.5357rem;
    height: 0.6786rem;
    display: inline-block;
    background: url(imgs/site.png) no-repeat;
    background-size: cover;
    vertical-align: sub;
    position: relative;
    top: 0;
    margin-right: 4%;
}
.citylist .currcity .currcityname {
    color: #bbb;
    font-size: 0.5357rem;
}
.citylist .cityname dt {
    padding-left: 4%;
    height: 0.8929rem;
    line-height: 0.8929rem;
    font-size: 0.5rem;
    color: #999;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f4f4f4;
}
.citylist .cityname dd {
    margin-left: 4%;
    margin-right: 6%;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
}
.citylist .cityname dd:nth-child(1) {
    border-top: none;
}
.citylist .cityname dd:last-child {
    border-bottom: none;
}
.citylist .cityname a {
    display: block;
    height: 1.6071rem;
    line-height: 1.6071rem;
    font-size: 0.5357rem;
    color: #777;
}
.citylist-hide {
    right: -107.1429rem !important;
}
.city .character {
    position: fixed;
    z-index: 200;
    right: 0;
    top: 2.5rem;
    bottom: 1rem;
    color: #057cff;
    font-size: 0.5rem;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s;
    width: 6%;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}