.ui-dialog-close{
    background: url(images/close.png) !important ;
}
.popup_received{
	padding: 2% 0;
	padding-bottom: 5%;
	color: #666;
}
.popup_received p{
	font-size: 17px;
	margin-bottom: 5%;
}
.popup_received a{
	font-size: 15px;
    background: #ff7510;
    border-radius: 4px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}