<div id="J_icon_list" class="icon_list">
	<div class="icon_wrap clearfix">
		<a href="javascript:;" class="wechat share" data="wechat"></a>
		<a href="javascript:;" class="weibo share" data="weibo"></a>
		<a href="javascript:;" class="txweibo share" data="txweibo"></a>
		<a href="javascript:;" class="qqzone share" data="qqzone"></a>
	</div>
	<a class="close_wrap" id="J_close_sns">
		<span href="javascript:;" class="close_sns" >取消</span>
	</a>
</div>
<div id="J_weixin_Mask" class="weixin_mask">
	
</div>
<div id="J_QR_Code" class="qr_code">
	<b>截屏到相册后，使用微信扫一扫</b><br>
	<span>分享给微信好友或朋友圈</span><br>
	<img src="<?=@$qrUrl?>" class="qr_img" alt="二维码">
</div>
<script>
	/* 如果是微信分享页面, 可以设置inWx为true, 来引入微信分享的js并传入相关设置 */
	<?php if(isset($inWx) && $inWx){?>
		require.async(['/static/common/system/wxShare/jweixin-1.0.0.js','/static/common/system/wxShare/wx-share.js']);
	<?php }?>
	var sns_link = '<?=@$snsshare["link"]?>',
		snsconfig = {
			link : sns_link ? sns_link : location.href,
			title : '<?=@$snsshare["title"]?>',
			content : '<?=@$snsshare["content"]?>',
			pic: '<?=@$snsshare["pic"]?>'
		},
		weixin = {
			<?php if(isset($inWx) && $inWx){?>
				debug: "<?=$wxshare['config']['debug']?>",
				appId: "<?=$wxshare['config']['appId']?>",
				timestamp: "<?=$wxshare['config']['timestamp']?>",
				nonceStr: "<?=$wxshare['config']['nonceStr']?>",
				signature: "<?=$wxshare['config']['signature']?>",
				title: "<?=$wxshare['info']['title']?>",
				desc: "<?=$wxshare['info']['desc']?>",
				link: "<?=$wxshare['info']['link']?>",
				jsApiList : ["ready","onMenuShareTimeline","onMenuShareAppMessage"],
				imgUrl: "<?=$wxshare['info']['imgUrl']?>",
			<?php }?>
			isWX : <?=@$headerData['bWX']?>,
			bApp : <?=@$headerData['bAPP']?>
		};
</script>
