.h5_header {
    position: relative;
    height:44px;
    line-height: 44px;
    color: #fff;
    background-color: #fff;
    color: #b2b2b2;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    a{
        color: #666;
    }
}

.h5_header .back {
    position: absolute;
    left: 15px;
    top: 0;
    width:9px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #b2b2b2;
}

.h5_header .title {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
    color: #333;
}

.h5_header .header_save {
    display: inline-block;
    width: 10%;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.h5_header .more{
    position: absolute;
    right: 15px;
    top: 0;
    width: 18px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
}
.nav_box{
    position:fixed; 
    z-index:1010;
    width: 100%;
    top:0;
    left: 0;
    bottom: 0;
    /*height: 100%;*/
    background: rgba(0,0,0,0.5); 
}
.hf-nav-box{
    position:fixed; 
    z-index:1011; 
    top:0; 
    bottom: 0;
    height: 100%;
    right:-165px; 
    padding:0 15px; 
    width:135px; 
    background:#fff; 
    font-size:14px;
}
.hf-nav-box .hf-nav-ul{
    width:100%;
}
.hf-nav-box .hf-nav-items>a{
    display:inline-block; 
    padding:12.5px 0; 
    width:100%; 
    border-bottom:1px solid #e5e5e5;
}
@media screen and (max-width: 350px) {
    .hf-nav-box .hf-nav-items>a{
        padding:10px 0; 
    }
}
.hf-nav-box .hf-nav-items .nav-icon{
    display:inline-block; 
    padding-left:25px; 
    background:url('/static/common/imgs/nav-icon.png') no-repeat;
}
.hf-nav-box .hf-nav-items .icon-p-sy{background-position:0 -2px;}
.hf-nav-box .hf-nav-items .icon-p-xf{background-position:0 -23px;}
.hf-nav-box .hf-nav-items .icon-p-esf{background-position:0 -43px;}
.hf-nav-box .hf-nav-items .icon-p-aaz{background-position:0 -64px;}
.hf-nav-box .hf-nav-items .icon-p-hw{background-position:0 -85px;}
.hf-nav-box .hf-nav-items .icon-p-kft{background-position:0 -106px;}
.hf-nav-box .hf-nav-items .icon-p-zc{background-position:0 -125px;}
.hf-nav-box .hf-nav-items .icon-p-haj{background-position:0 -148px;}
.hf-nav-box .hf-nav-items .icon-p-gr{background-position:0 -168px;}
.hf-nav-box .hf-nav-items .icon-p-app{background-position:0 -188px;}
.hf-nav-box{
    .kefu-info{
        position: absolute;
        bottom: 20px;
        margin-top: 19px;
        p{
            line-height: 24px;
            font-size: 11px;
            color: #666;
            .bold{
                font-weight: bold;
            }
        }
    }
    em{     
        font-style: normal;
    }
    a{
        color: #666;
    }
}