<?php if(!$headerData['bWX']):?>
<header class="h5_header">
    <a href="javascript:history.go(-1);" class="back">
        <span class="iconfont">&#xe61e;</span>
    </a>
    <span class="title"><?=@$headerData['sTitle']?></span>
    <?php if(isset($index) && $index == true) { ?>
    <span class="iconfont more" id='nav-btn'>&#xe74e;</span>
    <?php } ?>
</header>

<nav class="nav_box hide" id="nav-mask"></nav>
<nav id="hf-nav-box" class="hf-nav-box">   
    <ul class="hf-nav-ul">
        <li class="hf-nav-items"><a href="<?=@ $aNavUrl['sTouchWWWUrl'] ?>"><em class="nav-icon icon-p-sy">首页</em></a></li>
        <li class="hf-nav-items"><a href="<?php echo $aNavUrl['sTouchXFUrl'] ?>"><em class="nav-icon icon-p-xf">新房</em></a></li>
        <li class="hf-nav-items"><a href="<?php echo $aNavUrl['aTouchChannelList']['sESF'] ?>"><em class="nav-icon icon-p-esf">二手房</em></a></li>
        <li class="hf-nav-items"><a href="<?php echo $aNavUrl['aTouchChannelList']['sAaz'] ?>"><em class="nav-icon icon-p-aaz">租房</em></a></li>
        <li class="hf-nav-items"><a href="<?php echo $aNavUrl['aTouchChannelList']['sOverseas'] ?>"><em class="nav-icon icon-p-hw">海外房产</em></a></li>
        <li class="hf-nav-items"><a href="<?php echo $aNavUrl['aTouchChannelList']['sZC'] ?>"><em class="nav-icon icon-p-zc">众筹</em></a></li>
        <li class="hf-nav-items"><a href="<?php echo $aNavUrl['aTouchChannelList']['sGold'] ?>"><em class="nav-icon icon-p-haj">金融</em></a></li>
        <li class="hf-nav-items"><a href="<?php echo $aNavUrl['aTouchChannelList']['sMember'] ?>"><em class="nav-icon icon-p-gr">个人中心</em></a></li>
        <li class="hf-nav-items"><a href="<?php echo $aNavUrl['sTouchAppUrl'] ?>"><em class="nav-icon icon-p-app">下载APP</em></a></li>
    </ul>
    <div class="kefu-info">
        <p>客服热线：<span class='bold'>400-868-1111</span></p>
        <p>服务时间：9:00-21:00</p>
    </div>
</nav>
<?php endif;?>